

body {
    * {
        font-family: $font-family;
    }
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1em;
}

p, ul, ol {
    line-height: 1.5em;
    margin: 10px 0px 20px;

    small {
        font-size: 0.6em;
    }
}