<div class="search">
    <section>
        <div class="col-12">
            <form id="fmSearchPanel" name="fmSearchPanel" [formGroup]="fmSearchPanel" autocomplete="off">

                <div class="input-group">
                    <div class="col-sm">
                        <div class="input-group">
                            <input #txtSearch formControlName="txtSearch" id="txtSearch" name="txtSearch" type="text" class="form-control form-control-sm"
                                placeholder="Enter an account name or ID" />
                            <div *ngIf="!performDynamicSearch" class="input-group-append">
                                <button (click)="PerformSearch()" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"
                                        aria-hidden="true"></span></button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>

    </section>
</div>
<hr />